<a href="https://colab.research.google.com/github/smaranjitghose/ParulUniversityAI/blob/master/datetime_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
from datetime import datetime,date

In [15]:
# Grab today's date
date.today()

datetime.date(2023, 7, 27)

In [16]:
# Grab today's date + Using Print Statement
print(date.today())

2023-07-27

In [26]:
today = date.today()

print(f"Current year: {today.year}")
print(f"Current month: {today.month}")
print(f"Current day: {today.day}")

Current year: 2023
Current month: 7
Current day: 27

In [20]:
# Get the year-month-day-hour-minute-second of the current moement
datetime.now()

datetime.datetime(2023, 7, 27, 5, 4, 38, 49010)

In [22]:
# Grab Date from a timestamp
timestamp = date.fromtimestamp(1326244364)
print(f"Date = {timestamp}")

Date = 2012-01-11

### Convert String to Datetime

In [35]:
# Example 1
date_1 = "21 July, 2023"
type(date_1)

str

In [36]:
dt_1 = datetime.strptime(date_1,"%d %B, %Y")
type(dt_1)

datetime.datetime

In [37]:
print(dt_1.year)
print(dt_1.month)
print(dt_1.day)

2023
7
21

In [38]:
# Example 2
date_2 = "07/27/23 10:43:10"
type(date_2)

str

In [39]:
dt_2 = datetime.strptime(date_2,'%m/%d/%y %H:%M:%S')
type(dt_2)

datetime.datetime

In [44]:
print(f"Year   for {dt_2}: {dt_2.year}")
print(f"Month  for {dt_2}: {dt_2.month}")
print(f"Day    for {dt_2}: {dt_2.day}")
print(f"Hour   for {dt_2}: {dt_2.hour}")
print(f"Minute for {dt_2}: {dt_2.minute}")
print(f"Second for {dt_2}: {dt_2.second}")

Year   for 2023-07-27 10:43:10: 2023
Month  for 2023-07-27 10:43:10: 7
Day    for 2023-07-27 10:43:10: 27
Hour   for 2023-07-27 10:43:10: 10
Minute for 2023-07-27 10:43:10: 43
Second for 2023-07-27 10:43:10: 10

Using Pandas

In [45]:
import pandas as pd

In [51]:
df = pd.DataFrame.from_dict(
    {'Courses':["Spark","Hadoop","pandas"],
     'Fee' :[20000,25000,30000],
     'Duration':['30days','40days','35days'],
     'Discount':[1000,2500,1500],
     'Inserted': ["11/22/2021, 10:39:24","11/22/2021, 10:39:24","11/22/2021, 10:39:24"]},
     orient='index',
     columns=['A','B','C']).T
df

  Courses    Fee Duration Discount              Inserted
A   Spark  20000   30days     1000  11/22/2021, 10:39:24
B  Hadoop  25000   40days     2500  11/22/2021, 10:39:24
C  pandas  30000   35days     1500  11/22/2021, 10:39:24

In [47]:
# Method 1

# Using pandas.to_datetime() to convert pandas column to DateTime
df['Inserted'] = pd.to_datetime(df['Inserted'], format="%m/%d/%Y, %H:%M:%S")
df

  Courses    Fee Duration Discount            Inserted
A   Spark  20000   30days     1000 2021-11-22 10:39:24
B  Hadoop  25000   40days     2500 2021-11-22 10:39:24
C  pandas  30000   35days     1500 2021-11-22 10:39:24

In [48]:
# Method 2

# Convert pandas column to DateTime using Series.astype() method
df['Inserted'] = df['Inserted'].astype('datetime64[ns]')
df

  Courses    Fee Duration Discount            Inserted
A   Spark  20000   30days     1000 2021-11-22 10:39:24
B  Hadoop  25000   40days     2500 2021-11-22 10:39:24
C  pandas  30000   35days     1500 2021-11-22 10:39:24

In [52]:
# Method 3

# Using DataFrame.apply() and lambda function
df['Inserted'] = df['Inserted'].apply(lambda x: datetime.strptime(x,"%m/%d/%Y, %H:%M:%S"))
df

  Courses    Fee Duration Discount            Inserted
A   Spark  20000   30days     1000 2021-11-22 10:39:24
B  Hadoop  25000   40days     2500 2021-11-22 10:39:24
C  pandas  30000   35days     1500 2021-11-22 10:39:24